/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Nidavellir implementation : © Timothée Pecatte tim.pecatte@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * nidavellir.scss
 *
 * Nidavellir stylesheet
 *
 */


/*
html {
  background-image:url('img/background.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment:fixed;
}
*/

@font-face {
  font-family: 'Norse';
  src: url('img/font/Norse.woff2') format('woff2'),
      url('img/font/Norse.woff') format('woff'),
      url('img/font/Norse.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Norse';
  src: url('img/font/Norse-Bold.woff2') format('woff2'),
      url('img/font/Norse-Bold.woff') format('woff'),
      url('img/font/Norse-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@import "modules/css/variables";
@import "modules/css/card";
@import "modules/css/layout";
@import "modules/css/coin";
@import "modules/css/playerPanel";
@import "modules/css/log";
@import "modules/css/settings";


.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
