.card {
  width:$wCard;
  height:$hCard;
  margin:0px $scale*15px;
  position:relative;
  border-radius: 5%;

  &.selectable {
    cursor:pointer;
//    box-shadow: 0px 0px 5px 2px red;
    &:hover {
      transform: scale(1.1);
      z-index:100;
    }
  }

  &.unselectable, &.unselectable:hover {
    transform:none;
    cursor:not-allowed;
  }

  &.selected {
    border:3px solid red;
    margin-top:-3px;
    margin-left:7.5px;
    margin-right:7.5px;
    animation:none !important;
    transform:scale(1.08);
    z-index:100;
  }

  &::before {
    content:'';
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    background-size:cover;
    border-radius: 5%;
    filter:drop-shadow(0px 0px 4px black);
    background-image:url('img/dwarves.jpg');
    z-index:2;
  }

  @for $i from 1 through 5 {
    &[data-class="#{$i}"][data-parity="0"]::before { background-position-x: 2*($i - 1) * 100% / 11; }
    &[data-class="#{$i}"][data-parity="1"]::before { background-position-x: (2*($i - 1) + 1) * 100% / 11; }
  }

  $wRank:45px;// 0.6 * $wCard;
  $hRank:19px; //2/5 * $wRank;

  .card-grade {
    position: absolute;
    z-index:2;
    width:0.6 * $wCard;
    height:$hCard * 0.8;
    display: flex;
    flex-flow: column;
    padding-top:4%;

    .card-rank {
      order:1;
      width:$wRank;
      height:$hRank;
      background-image:url('img/ranks.png');
      background-size:100% 500%;
      font-family: 'Norse';
      color:white;
      text-shadow: 0px 0px 2px black;
      font-weight: bold;
      padding-left: 20%;
      box-sizing: border-box;
      font-size: 16px;
      line-height: 18px;
      position: relative;
    }

    .card-class-icon {
      order:4;
      width:0.25 * $wCard;
      height:0.25 * $wCard;
      background-image:url('img/classes.png');
      background-size:cover;
      margin-left:4px;
    }
  }

  &[data-class="1"] .card-rank::before,
  &[data-class="2"] .card-rank::before {
    content:'';
    display: inline-block;
    width:0.7*$hRank;
    height:0.7*$hRank;
    margin: 0.15*$hRank 0;
    background-image:url('img/rank-values.png');
    background-size:cover;
  }
  &[data-class="2"] .card-rank::before { background-position-x:100%; }


  @for $i from 1 through 5 {
    &[data-class="#{$i}"] .card-rank { background-position-y: ($i - 1) * 100% / 4; }
    &[data-class="#{$i}"] .card-class-icon { background-position-y: $i * 100% / 5; }
  }


  // ROYAL_OFFER
  &[data-class="6"]{
    &::before { background-position-x: 10 * 100% / 11; }
    // TODO : AGE II / &[data-class="6"]::before { background-position-x: 11 * 100% / 11; }
    .card-grade {
      display:none;
    }
  }


  /***************
  ***** HERO *****
  ***************/
  &[data-class="7"] {
    &::before {
      background-image:url('img/heroes.jpg');
      background-size:500%;
    }

    @for $i from 0 through $heroesNb - 1 {
      &[data-id="#{$heroesStart + $i}"]::before {
        background-position-x:($i % 5) * 25%;
        background-position-y:($i  - ($i % 5) )/ 5 * 100% / 4;
      }
    }

    .card-grade {
      display:none;
    }
  }



  /**********************
  ***** DISTINCTION *****
  **********************/
  &[data-class="8"] {
    &::before {
      background-image:url('img/distinctions.jpg');
      background-size:500%;
    }

    &[data-id="300"]::before { background-position-x:0%; }
    &[data-id="301"]::before { background-position-x:25%; }
    &[data-id="302"]::before { background-position-x:50%; }
    &[data-id="303"]::before { background-position-x:75%; }
    // 304 is the blacksmit special card...
    &[data-id="305"]::before { background-position-x:100%; }

    .card-grade {
      display:none;
    }
  }

}
