#treasure-container {
  width:500px;
  height:650px;
  position:relative;
  margin-top:-100px;
  margin-right:100px;

  &::before {
    content:'';
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    background-image:url('img/citadel.png');
    background-size:100% 100%;
    z-index: -1;
  }

  #treasure {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 100%;
    width: 74%;
    margin-left: 10%;

    .treasure-row {
      height:80px;
      width:100%;
      margin-top:3%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .treasure-slot {
        width:65px;
        height:65px;
        background-image: url('img/coins.png');
        background-size:cover;
        background-position-x:calc(100% / 3);
        font-family: 'Norse';
        font-size:38px;
        color:#64360e;
        font-weight: bold;
        filter:drop-shadow(1px 1px 2px black);

        padding-right: 7%;
        box-sizing: border-box;
        text-align: right;
        line-height: 64px;
      }
    }
  }
}
