#taverns-container {
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-top:50px;
  position:relative;

  #taverns-pre-bids-zone {
    height: 310px;
    width: 0px;
    overflow: hidden;
    transition: width 1s;
    margin: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    position:relative;

    &::before {
      content:'';
      display:block;
      position:absolute;
      top:0;
      left:0;
      width:80px;
      height:310px;
      z-index:-1;
      background-image:url('img/pre_bids.png');
      background-size: 80px 100%;
      background-position: center center;
    }

    &.active {
      width:80px;
      height:310px;

      @media (max-width: $breakpoint) {
        height:62px;
        width:310px;
      }
    }

    @media (max-width: $breakpoint) {
      position:absolute;
      top:-80px;
      left:0px;
      width:310px;
      height:0;
      flex-flow:row;
      transition: height 1s;

      &::before {
        transform:translateX(310px) rotate(90deg);
        transform-origin: top left;
        width:64px;
        background-size: 62px 100%;
      }
    }
  }

  #taverns {
    display: grid;
    grid-template-columns: $wSign auto;
    grid-template-rows: 180px 180px 180px;
    grid-row-gap: 7px;
    position:relative;

    & > * {
      box-sizing: border-box;
    }

    #age-counter {
      position: absolute;
      width: 48px;
      height: 70px;
      background-image: url("img/ages.jpg");
      background-size: cover;
      vertical-align: middle;
      transform: rotate(8deg);
      border-radius: 4px;
      box-shadow: 1px 1px 4px 0px black;
      right: 14px;
      z-index: -1;
      top: -48px;

      &[data-value="2"] { background-position-x:100%; }
    }


    #turn-counter-holder {
      position: absolute;
      right: 77px;
      top: -39px;
      font-weight: bold;
      font-family: "Norse";
      font-size: 29px;
      text-shadow: 0px 0px 16px #215ac6;
    }


    .tavern-sign-holder {
      grid-column: 1;
      width:$wSign;
      display: flex;
      flex-flow: column;
      perspective: 300px;

      .tavern-mount {
        width:$wSign;
        height:$hMount;
        background-image: url('img/mount.png');
        background-size:contain;
        background-repeat: no-repeat;
        margin-top: 25px;
        filter: drop-shadow(1px 1px 3px black);
      }

      .tavern-sign {
        width:$wSign;
        height:$hSign;
        margin-top:-3px*$scale;
        background-image: url("img/signs.png");
        background-size: auto 300%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position-x: 9px;

        &#tavern-sign-1 {
          background-position-y: 50%;
        }
        &#tavern-sign-2 {
          background-position-y: 100%;
        }

        .bids-drop-zone {
          width:0.8*$hSign;
          height:0.8*$hSign;
          display:none;
          margin-left:-8px;

          &.selectable {
            display:block;
            border: 2.5px dashed white;
            border-radius: 50%;
            background-color:rgba(255,255,255,0.2);
            cursor: pointer;

            &:hover {
              border: 2.5px solid red;
              background-color:rgba(255,255,255,0.4);
            }
          }
        }

        .tavern-coin-holder {
          position: absolute;
          left: -4px;
          width:40px;
          height:40px;
          border-radius: 50%;
          display:flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .tavern-cards-wrapper {
      border:1px solid;
      border-image-slice: 15 14 15 14;
      border-image-width: 11px 11px 11px 11px;
      border-image-outset: 0px 0px 0px 0px;
      border-image-repeat: stretch stretch;
      border-image-source: url("img/tavern_border.jpg");
      flex-grow: 1;
      height:100%;
      padding:10px;

      .tavern-cards-holder {
  //          min-width: 700px;
        background-image: url("img/tavern_background.jpg");
        background-size: 100% 100%;
        border: 1px solid #6a4c36;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        position: relative;
        padding: 7px;
        height: 100%;
        box-sizing: border-box;

        &.selectable {
          animation-name: borderBlink2;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }

        @keyframes borderBlink2 {
          0% {border: 2px dashed yellow;}
          49% {border: 2px dashed yellow;}
          50% {border: 2px dashed white;}
          100% {border: 2px dashed white;}
        }


        .card {
          transition:left 1s;
          left:0px;
        }
      }
    }
  }
}
