#treasure-container {
  width:378px;
  height:566px;
  #ebd-body.nidavellir-thingvellir & { height:580px; }
  position:relative;
  margin-right:100px;
  margin-left:20px;
  flex-shrink: 0;
  flex-flow: column;
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint) {
    width:566px;
    height:406px;
    margin:0;
    margin-top:20px;
  }
  [data-mode="compact"] &, #ebd-body.nidavellir-thingvellir & {
    width:566px;
//    height:406px;
    margin:0;
    margin-top:20px;
  }



  &::before {
    content:'';
    display: block;
    width:378px;
    height:566px;
    position: absolute;
    background-image:url('img/treasure.png');
    background-size:100% 100%;
    z-index: -1;
    transform:rotate(-2deg);

    @media (max-width: $breakpoint) {
      transform: translateX(566px) rotate(88deg);
      transform-origin: top left;
    }
    [data-mode="compact"] &, #ebd-body.nidavellir-thingvellir & {
      transform: translateX(566px) rotate(88deg);
      transform-origin: top left;
    }
  }

  .treasure-decoration {
    position:absolute;
    width:50px;
    height:50px;
    background-image:url('img/background_coin.png');
    background-size:100%;

    @media (max-width: $breakpoint) {
      display: none;
    }
    [data-mode="compact"] & {
      display:none;
    }

    &#treasure-decoration-1 {
      right: -50px;
      top: 79px;
      transform: rotate(52deg);

      @media (max-width: $breakpoint) {
        right: -70px;
      }
    }

    &#treasure-decoration-2 {
      right: -73px;
      top: 109px;
      @media (max-width: $breakpoint) {
        right: -93px;
      }
    }

    &#treasure-decoration-3 {
      right: -51px;
      top: 171px;
      transform: rotate(129deg);
      @media (max-width: $breakpoint) {
        right: -71px;
      }
    }
  }


  #treasure {
    display: grid;
    height: 93%;
    width: 83%;
    margin-left: 6%;
    margin-top: 5%;
    grid-template-columns: repeat(16,1fr);
    @media (max-width: $breakpoint) {
      height: 83%;
      width: 93%;
      grid-template-columns: repeat(24,1fr);
    }
    [data-mode="compact"] &, #ebd-body.nidavellir-thingvellir & {
      height: 337px; //83%;
      width: 93%;
      grid-template-columns: repeat(24,1fr);
    }


    .treasure-slot {
      grid-column-end: span 4;
      width:80px;
      height:80px;
      display:flex;
      justify-content: center;
      align-items: center;
      //filter:drop-shadow(0px 0px 30px black);

      @each $i, $row in $treasureLayoutVertical {
        @for $j from 1 through length($row) {
          $slot: nth($row, $j);

          &#treasure-slot-#{$slot} {
            grid-row-start: $i + 1;
            grid-column-start: 4*($j - 1) + if(length($row) == 4, 1, $j + 1);
          }
        }
      }

      @media (max-width: $breakpoint) {
        @each $i, $row in $treasureLayoutHorizontal {
          @for $j from 1 through length($row) {
            $slot: nth($row, $j);

            &#treasure-slot-#{$slot} {
              grid-row-start: $i + 1;
              grid-column-start: 4*($j - 1) + if(length($row) == 6, 1, 3);
            }
          }
        }
      }

      [data-mode="compact"] &, #ebd-body.nidavellir-thingvellir & {
        @each $i, $row in $treasureLayoutHorizontal {
          @for $j from 1 through length($row) {
            $slot: nth($row, $j);

            &#treasure-slot-#{$slot} {
              grid-row-start: $i + 1;
              grid-column-start: 4*($j - 1) + if(length($row) == 6, 1, 3);
            }
          }
        }
      }




      .coin {
        width:65px;
        height:60px;

        .coin-holder .coin-inner {
          width:60px;
          height:60px;

          .coin-value {
            font-size:32px;
            line-height: 60px;
          }
        }
      }

      .coin:last-of-type {
        flex-shrink: 0;
      }
    }
  }
}
