#treasure-container {
  width:378px;
  height:566px;
  position:relative;
  margin-right:100px;
  margin-left:20px;
  flex-shrink: 0;

  &::before {
    content:'';
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    background-image:url('img/treasure.png');
    background-size:100% 100%;
    z-index: -1;
    transform:rotate(-2deg);
  }

  .treasure-decoration {
    position:absolute;
    width:50px;
    height:50px;
    background-image:url('img/background_coin.png');
    background-size:100%;

    &#treasure-decoration-1 {
      right: -50px;
      top: 79px;
      transform: rotate(52deg);
    }

    &#treasure-decoration-2 {
      right: -73px;
      top: 109px;
    }

    &#treasure-decoration-3 {
      right: -51px;
      top: 171px;
      transform: rotate(129deg);
    }
  }


  #treasure {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 93%;
    width: 83%;
    margin-left: 6%;
    margin-top: 5%;

    .treasure-row {
      height:80px;
      width:100%;
      margin-top:3%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      filter:drop-shadow(1px 1px 30px black);

      .treasure-slot {
        width:80px;
        height:80px;
        display:flex;
        justify-content: center;
        align-items: center;


        .coin {
          width:65px;
          height:60px;

          .coin-holder .coin-inner {
            width:60px;
            height:60px;

            .coin-value {
              font-size:32px;
              line-height: 60px;
            }
          }
        }

        .coin:last-of-type {
          flex-shrink: 0;
        }
      }
    }
  }
}
