#treasure-container {
  width:500px;
  height:650px;
  position:relative;
  margin-top:-100px;
  margin-right:100px;
  flex-shrink: 0;

  &::before {
    content:'';
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    background-image:url('img/citadel.png');
    background-size:100% 100%;
    z-index: -1;
  }

  #treasure {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 100%;
    width: 74%;
    margin-left: 10%;

    .treasure-row {
      height:80px;
      width:100%;
      margin-top:3%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .treasure-slot {
        width:65px;
        height:65px;
        display:flex;
        justify-content: center;
        align-items: center;

        .coin:last-of-type {
          flex-shrink: 0;
        }
      }
    }
  }
}
