#tabs-container {
  width:200px;
  margin-right: 100px;
  height:650px;
  display: flex;
  flex-flow: column;
  justify-content: center;


  .nid-tab {
    width:200px;
    height:112px;
    margin:10px 0px 10px -20px;
    cursor:pointer;
    transition: margin 0.3s;
    background-image:url('img/tabs.png');
    background-size:100% 300%;

    &:hover, &.opened {
      margin-left:0px;
    }

    &.focus {
      animation: clickme 2s infinite;
      @keyframes clickme {
        0% {
          transform:translateX(0px);
        }
        20% {
          transform:translateX(10px);
        }
        40% {
          transform:translateX(0px);
        }
        60% {
          transform:translateX(10px);
        }
        80% {
          transform:translateX(0px);
        }
      }
    }
    &.focus:hover, &.opened {
      animation:none;
    }


    &#tab-heroes { background-position-y:50%; }
    &#tab-distinctions { background-position-y:100%; }
  }
}
