#nidavellir-board {
  display:flex;
  flex-flow:column;
  margin-left:-2px;

  #exterior-wrapper {

    #exterior {
      display: flex;
      position: relative;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      @import "layout.treasure";
      @import "layout.taverns";
      @import "layout.hall";
    }
  }


  #player-boards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .nidavellir-player-board {
      width:750px;
      padding:20px;
      min-height:$scale*350px;
      position:relative;
      display: flex;
      align-items: flex-start;
  //    background-color:#838c92;

      @for $i from 0 through 5 {
        &#player-board-#{$i} {
          order: #{$i};
        }
      }

      &::before {
        content:'';
        display:block;
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        width:100%;
        height:100%;
        background-image:url('img/command-zone.png');
        background-size:100% 100%;
      }
      &[data-color="0000ff"]::before {  filter:drop-shadow(2px 2px 4px black)  hue-rotate(171deg); }
      &[data-color="ff0000"]::before {  filter:drop-shadow(2px 2px 4px black)  hue-rotate(-18deg); }

      .cards-class {
        width:$wCard;
        margin: $scale*40px $scale*15px 0px;
        z-index: 2;

        .card {
          @for $i from 0 through 3 {
            &[data-ranks="#{$i}"] {
              margin-bottom:-$hCard + $i*0.16*$hCard;
            }
          }

          &:last-of-type {
            margin-bottom: 60px;
          }

          &.selectable {
            animation: pulse 2s infinite;
            @keyframes pulse {
              0% {
                box-shadow: 0 0 0 2px #ffc400;
              }
              80% {
                box-shadow: 0 0 0 10px transparent;
              }
            }
          }
        }
      }
    }
  }
}

#overall-content[data-nplayers="2"] .tavern-cards-holder { min-width:3*($wCard + $scale*30px); }
#overall-content[data-nplayers="3"] .tavern-cards-holder { min-width:3*($wCard + $scale*30px); }
