#tabs-container {
  width:200px;
  margin-right: 100px;
  height:650px;
  display: flex;
  flex-flow: column;
  justify-content: center;


  .nid-tab {
    width:200px;
    height:112px;
    margin:10px 0px 10px -20px;
    cursor:pointer;
    transition: margin 0.3s;
    background-image:url('img/tabs.png');
    background-size:100% 300%;

    &:hover {
      margin-left:0px;
    }

    &#tab-heroes { background-position-y:50%; }
    &#tab-distinctions { background-position-y:100%; }
  }
}
