#tabs-container {
  width:200px;
  margin-right: 100px;
  height:400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-right:auto;
  @media (max-width: $breakpoint) {
    width:160px;
  }

  .nid-tab {
    width:200px;
    height:112px;
    margin:10px 0px 10px -20px;
    cursor:pointer;
    transition: margin 0.3s;
    background-image:url('img/tabs.png');
    background-size:100% 400%;

    &.hidden {
      display:none;
    }

    &:hover, &.opened {
      margin-left:0px;
    }

    &.focus {
      animation: clickme 2s infinite;
      @keyframes clickme {
        0% {
          transform:translateX(0px);
        }
        20% {
          transform:translateX(10px);
        }
        40% {
          transform:translateX(0px);
        }
        60% {
          transform:translateX(10px);
        }
        80% {
          transform:translateX(0px);
        }
      }
    }
    &.focus:hover, &.opened {
      animation:none;
    }

    &#tab-camp { display:none; }
    &#tab-heroes { background-position-y:calc(100% / 3); }
    &#tab-distinctions { background-position-y:calc(2 * 100% / 3); }
    &#tab-score {
      background-position-y: 100%;
      text-transform: capitalize;
      font-size: 30px;
      font-family: "Norse";
      font-weight: bold;
      line-height: 113px;
      text-indent: 53px;
      text-shadow: 0px 0px 19px white;
    }
  }
}
