#logs {
  .card-class {
    display:inline-block;
    width:20px;
    height:20px;
    background-image: url('img/classes.png');
    background-size: 100% 500%;

    @for $i from 1 through 5 {
      &.class-#{$i} { background-position-y: ($i - 1) * 100% / 4; }
    }
  }
}
