#logs {
  .card-class-name {
    font-weight: bold;

    &.class-1 { color: #554696; }
    &.class-2 { color: #158353; }
    &.class-3 { color: #3e9bd6; }
    &.class-4 { color: #ef7926; }
    &.class-5 { color: #923425; }
    &.class-6_3, &.class-6_5 { color: #e6a637; }
  }


  .card-class-symbol {
    display:inline-block;
    width:30px;
    height:30px;
    background-image: url('img/classes.png');
    background-size: 100% 600%;
    vertical-align: middle;
    margin: -4px 3px 4px;

    @for $i from 0 through 5 {
      &.class-#{$i} { background-position-y: $i * 100% / 5; }
    }
  }

  .coin {
    display: inline-block;
    width:30px;
    height:30px;
    vertical-align:middle;
    margin:-4px 3px 6px;


    .coin-holder .coin-inner {
      width:30px;
      height:30px;

      .coin-value {
        font-size:20px;
        line-height: 30px;
      }
    }
  }
}
