.nidavellir_popin {
  width:80%;
  position:relative;

  .nidavellir_popin_closeicon {
    background-color: #60322e;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: -15px;
    right: -15px;
    font-size: 100%;
    color: white !important;

    &:hover {
      text-decoration: none;
      color:#CCC !important;
      transform:scale(1.1);
    }

    i {
      margin-top:-2px;
    }
  }
}



#popin_showOverview {
  z-index:2000;
  padding:0;
  width:auto;
  min-width:300px;
  background-image:url("img/background_score.png");
  background-size: 100% 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  background-color:white;

  #popin_showOverview_close {

  }

  #popin_showOverview_contents {
    padding:30px;

    table {
      width:100%;
      border-collapse: separate;
      border-spacing: 2px 6px;

      th {
        min-width:50px;
        height:50px;
        vertical-align: middle;
        text-align: center;

        background: rgb(140,140,140);
        background: linear-gradient(90deg, #ddd 0%, #fff 20%, #fff 80%, #ddd 100%);
        font-family: "Norse";
        font-weight: bold;
        font-size:25px;
        box-shadow: 0px 0px 11px -2px black;
        padding:3px 30px;

        &:first-of-type {
          background:none;
          border-right:none;
          box-shadow: none;
        }
      }

      tbody {
        tr {
          height:45px;

          &#overview-row-0 td { background-color:#8c949990; }
          &#overview-row-1 td { background-color:#8d85ac90; }
          &#overview-row-2 td { background-color:#719b8a90; }
          &#overview-row-3 td { background-color:#9fb7c790; }
          &#overview-row-4 td { background-color:#c7a97f90; }
          &#overview-row-5 td { background-color:#a8757090; }
          &#overview-row-6 td { background-color:#ddc85590; }
          &#overview-row-7 td { background-color:#f7f7f790; }

          td {
            vertical-align: middle;
            text-align: center;
            padding:5px 8px;
            word-wrap:anywhere;
            font-family: "Norse";
            font-weight: bold;
            font-size:20px;

            &:first-of-type {
              border-right:none;
            }

            i {
              color: #555;
              font-size: 14px;
              margin-left: 7px;
            }

            &.row-header {
              padding:0;
              position: relative;
              width: 100px;

              .row-rank {
                height: 65px;
                width: 72%;
                background-image: url("img/ranks_scoring.png");
                background-size: 100% 800%;
                position: absolute;
                top: -3px;
                left: 0;
                display:flex;
                justify-content: center;
                align-items: center;
              }
            }
          }

          @for $i from 0 through 7 {
            &#overview-row-#{$i} td.row-header {
              .row-rank { background-position-y:$i * 100% / 7; }
            }
          }

          &#overview-total {
            height:80px;

            td {
              position:relative;
              line-height: 44px;
              font-size:24px;
              vertical-align: top;

              &::before {
                content:'';
                display:block;
                position:absolute;
                top:0px;
                left: -4%;
                width: 110%;
                height:100%;
                background-image:url('img/players_scores.png');
                background-size:100% 500%;
                z-index:-1;
                opacity:0.8;
              }
            }

            td:nth-of-type(1)::before {
              display:none;
            }

            @for $i from 0 through 4 {
              td:nth-of-type(#{$i + 2})::before {
                background-position-y:$i * 25%;
              }
            }
          }
        }
      }
    }
  }
}



#popin_showHeroes {
  z-index: 2000;
  padding: 0;
  width: 750px;
  background-image: url("img/background_heroes.png");
  background-size: 100% 100%;
  filter:drop-shadow(3px 3px 10px black);

  #popin_showHeroes_contents {
    padding:15px;

    #hall-container {
      width: 715px;
      height: 650px;
      position: relative;

      #hall {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;

        .card {
          margin:10px 10.5px;
        }
      }
    }
  }
}




#popin_showDistinctions {
  z-index: 2000;
  padding: 0;
  width: 420px;
  background-image: url("img/background_distinctions.png");
  background-size: 100% 100%;
  filter:drop-shadow(3px 3px 10px black);

  #popin_showDistinctions_contents {
    padding:15px;

    #evaluation-container {
      width:400px;
      height:auto;
      position:relative;

      #evaluation {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;

        .card {
          margin:15px;
        }
      }
    }
  }
}
