.panel-container {
  .coins-zone {
    display: flex;
    justify-content: center;
    margin:5px 0px 10px;
    min-height: 40px;

    .coin {
      margin:0 3px;
    }
  }

  .bids-zone {
    display: flex;
    margin: 5px 0;
    justify-content: space-around;
    align-items: center;
    height:50px;
    transition:height 800ms;

    .bids-zone-tavern-holder {
      width: 78px;
      height: 50px;
      background-image: url("img/signs.png");
      background-size: auto 300%;
      background-position: 1px 0%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-repeat: no-repeat;
      padding-right:5px;
      position: relative;
      opacity:1;
      transition:opacity 600ms;

      &.tavern-1 {
        background-position-y: 50%;
      }
      &.tavern-2 {
        background-position-y: 100%;
      }

      .bids-zone-tavern {
        width:40px;
        height:40px;

        .coin {
  //        transform: scale(0.8);
        }
      }
    }
  }

  .command-zone {
    display: flex;
    flex-flow: row;

    .command-zone-class {
      display: flex;
      flex-flow: column;

      div {
        width:30px;
        height:15px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: -5px;
        background-position: center center;
      }

      @for $i from 1 through 5 {
        &[data-class="#{$i}"] div { background-image:url('img/grades/#{$i}.png'); }
      }
    }
  }
}

#ebd-body[data-tavern="-1"] .panel-container .bids-zone {
  height:0px;

  .bids-zone-tavern-holder {
    opacity:0;
  }
}

#ebd-body[data-tavern="0"] .panel-container .bids-zone {
  .tavern-1, .tavern-2 {
    opacity:0;
  }
}

#ebd-body[data-tavern="1"] .panel-container .bids-zone {
  .tavern-2 {
    opacity:0;
  }
}




.gem-container {
  position:absolute;
  top:0;
  right:38px;
  width:28px;
  height:42px;
}

.gem {
  position:absolute;
  width:28px;
  height:42px;
  background-image:url("img/gemmes.png");
  background-size:600%;
  background-repeat: no-repeat;

  @for $i from 1 through 6 {
    &[data-value="#{$i}"] { background-position-x:($i - 1) * 100% / 5; }
  }
}
