.player-board[data-color="0000ff"] { background-color:#b9daee; }
.player-board[data-color="ff0000"] { background-color:#eec6cb; }
.player-board[data-color="773300"] { background-color:#e5b4f2; }
.player-board[data-color="008000"] { background-color:#c9ecba; }
.player-board[data-color="ffa500"] { background-color:#fddac1; }


.panel-container {
  .coins-zone {
    display: flex;
    justify-content: center;
    margin:5px 0px 10px;
    min-height: 40px;

    .coin {
      margin:0 3px;
    }
  }

  .bids-zone {
    display: flex;
    margin: 5px 0;
    justify-content: space-around;
    align-items: center;
    height:50px;
    transition:height 800ms;


    .bids-zone-tavern-holder {
      width: 78px;
      height: 50px;
      background-image: url("img/signs.png");
      background-size: auto 300%;
      background-position: 1px 0%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-repeat: no-repeat;
      padding-right:5px;
      position: relative;
      opacity:1;
      transition:opacity 600ms;

      &::before {
        content:'';
        position: absolute;
        width: 32px;
        height: 32px;
        background: rgba(255,255,255,0.9);
        left: 0;
        font-family: "Norse";
        border-radius: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: red;
        font-size: 32px;
        border: 1px solid black;
        bottom: -10px;
        left: -10px;
        z-index: 900;
        opacity:1;
        transition: opacity 0.5s;
      }

      &.tavern-1 {
        background-position-y: 50%;
      }
      &.tavern-2 {
        background-position-y: 100%;
      }

      .bids-zone-tavern {
        width:40px;
        height:40px;

        .coin {
  //        transform: scale(0.8);
        }
      }
    }
  }

  .command-zone {
    display: flex;
    flex-flow: row;

    .command-zone-class {
      display: flex;
      flex-flow: column;

      div {
        width:30px;
        height:15px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: -5px;
        background-position: center center;
      }

      @for $i from 1 through 5 {
        &[data-class="#{$i}"] div { background-image:url('img/grades/#{$i}.png'); }
      }
    }
  }
}

#ebd-body[data-tavern="-1"] .panel-container .bids-zone {
  height:0px;

  .bids-zone-tavern-holder {
    opacity:0;
  }
}

#ebd-body[data-tavern="0"] .panel-container .bids-zone {
  .tavern-1, .tavern-2 {
    opacity:0;
  }
}

#ebd-body[data-tavern="1"] .panel-container .bids-zone {
  .tavern-0.bids-zone-tavern-holder::before {
    display:none;
  }

  .tavern-2 {
    opacity:0;
  }
}

#ebd-body[data-tavern="2"] .panel-container .bids-zone {
  .tavern-0, .tavern-1 {
    &.bids-zone-tavern-holder::before {
      display:none;
    }
  }
}



.gem-container {
  position:absolute;
  top:0;
  right:38px;
  width:28px;
  height:42px;
}

.gem {
  position:absolute;
  width:28px;
  height:42px;
  background-image:url("img/gemmes.png");
  background-size:600%;
  background-repeat: no-repeat;

  @for $i from 1 through 6 {
    &[data-value="#{$i}"] { background-position-x:($i - 1) * 100% / 5; }
  }
}



@for $i from 0 through 2 {
  #ebd-body[data-tavern="#{$i}"] {

    @for $j from 0 through 5 {
      .bids-zone[data-order="#{$j}"] .tavern-#{$i}::before {
        content:'#{$j + 1}';
      }
    }
  }
}

@for $i from 0 through 6 {
  #ebd-body[data-order-index="#{$i}"] .panel-container {
    @for $j from -1 through $i - 1 {
      .bids-zone[data-order="#{$j}"] .bids-zone-tavern-holder::before {
        opacity:0;
      }
    }

    .bids-zone[data-order="#{$i}"] .bids-zone-tavern-holder::before {
      opacity:1;
      background-color:red;
      color:white;
    }
  }
}

#ebd-body[data-order-index="-1"] .panel-container .bids-zone .bids-zone-tavern-holder::before  {
  opacity:0;
}


.player-board .zolkur-zone {
  position:absolute;
  top:50px;
  right:-20px;
  z-index: 2;

  .card {
    transform: rotate(13deg) scale(0.5);
    transform-origin: top right;
  }
}
