.panel-container {
  .coins-zone {
    display: flex;
    justify-content: center;
    margin:5px 0px 10px;

    .coin {
      margin:0 3px;
    }
  }

  .bids-zone {
    display: flex;
    margin: 5px 0;
    justify-content: space-around;
    align-items: center;

    .bids-zone-tavern-holder {
      width: 78px;
      height: 50px;
      background-image: url("img/tavern/sign_0.png");
      background-size: contain;
      background-position: -8px center;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-repeat: no-repeat;
      padding-right:5px;

      &.tavern-1 {
        background-image: url('img/tavern/sign_1.png');
      }
      &.tavern-2 {
        background-image: url('img/tavern/sign_2.png');
      }

      .bids-zone-tavern {
        width:40px;
        height:40px;

        .coin {
  //        transform: scale(0.8);
        }
      }
    }
  }

  .command-zone {
    display: flex;
    flex-flow: row;

    .command-zone-class {
      display: flex;
      flex-flow: column;

      div {
        width:30px;
        height:15px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: -5px;
        background-position: center center;
      }

      @for $i from 1 through 5 {
        &[data-class="#{$i}"] div { background-image:url('img/grades/#{$i}.png'); }
      }
    }
  }
}


.gem-container {
  position:absolute;
  top:0;
  right:38px;
  width:28px;
  height:42px;
}

.gem {
  position:absolute;
  width:28px;
  height:42px;
  background-image:url("img/gemmes.png");
  background-size:600%;
  background-repeat: no-repeat;

  @for $i from 1 through 6 {
    &[data-value="#{$i}"] { background-position-x:($i - 1) * 100% / 5; }
  }
}
