#player_config {
  margin: 10px 0px;

  #player_config_row {
    display: flex;
    justify-content: space-around;
  }

  #player_info_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }

  #show-help,
  #show-settings {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: grey;
    }
    cursor: pointer;

    svg {
      width: auto;
      height: 40px;
    }
  }

  #show-settings {
    .fa-primary {
      transform-origin: 216px 255px;
      transition: transform 1s;
    }

    &:hover .fa-primary {
      transform: rotate(180deg);
    }
  }
}

/*
 * Controls in the top bar
 */
#layout-controls-container {
  position: relative;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: 10px;

  &.layoutControlsHidden {
    display: none;
  }

  .row-data {
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .row-label {
      width: auto;
      float: none;
      color: black;
      padding-bottom: 0px;
    }

    .row-value {
      margin: 0;
    }
  }

  #layout-mode {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding: 5px 0;
    @media (max-width: 1900px) {
      display: none;
    }

    #layout-normal,
    #layout-compact {
      width: 40px;
      height: 40px;
      display: grid;
      grid-gap: 3px;
      cursor: pointer;

      div {
        background-color: black;
        border-radius: 5px;
      }
      &:hover div {
        background-color: gray;
      }
    }

    #layout-normal {
      grid-template-rows: 1fr 1fr;
    }
    #layout-compact {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  #autopick-selector {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

    select {
      margin-top: 5px;
    }
  }
}

#overall-content[data-nplayers='2'],
#overall-content[data-nplayers='3'] {
  #turn-counter::after {
    content: '/4';
  }
}

#overall-content[data-nplayers='4'],
#overall-content[data-nplayers='5'] {
  #turn-counter::after {
    content: '/3';
  }
}

#ebd-body.nidavellir-idavoll[data-age='1'] {
  #overall-content[data-nplayers='2'],
  #overall-content[data-nplayers='3'] {
    #turn-counter::after {
      content: '/5';
    }
  }

  #overall-content[data-nplayers='4'],
  #overall-content[data-nplayers='5'] {
    #turn-counter::after {
      content: '/4';
    }
  }
}
