$scale:0.7;
$wSign: $scale*150px;
$hMount:31px * $wSign / 200px;
$hChain: 51px * $wSign / 200px;
$hSign: 150px * $wSign / 200px;
$hSign3 : 154px * $wSign / 200px;

$wCard: $scale*140px;
$hCard: $scale*207px;
$wRank:45px;// 0.6 * $wCard;
$hRank:19px; //2/5 * $wRank;


$heroesStart: 200;
$heroesNb:21;

$distinctionStart: 300;

$treasureLayoutVertical:(
  0 : (22, 23, 24, 25),
  1 : (18, 19, 20, 21),
  2 : (14, 15, 16, 17),
  3 : (11, 12, 13),
  4 : (8, 9, 10),
  5 : (5, 6, 7)
);

$treasureLayoutHorizontal:(
  0 : (20, 21, 22, 23, 24, 25),
  1 : (15, 16, 17, 18, 19),
  2 : (10, 11, 12, 13, 14),
  3 : (5, 6, 7, 8, 9),
);


$breakpoint: 1650px;
