$scale:0.7;
$wSign: $scale*150px;
$hMount:31px * $wSign / 200px;
$hChain: 51px * $wSign / 200px;
$hSign: 142px * $wSign / 200px;
$hSign3 : 154px * $wSign / 200px;

$wCard: $scale*140px;
$hCard: $scale*207px;
